<div class="signin-form">
  <h1>Sign Up</h1>
    <%= form_for(@user, role:"form") do |f| %>
    <%= render "partials/error_messages" %>

    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: "form-control" %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: "form-control" %>

    <%= f.label :display_name %>
    <%= f.text_field :display_name, class: "form-control" %>

    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>

    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>

    <%= f.label :password_confirmation, "Password Confirmation" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>

    <%= f.submit "Create Account", id: "check-in", class: "btn btn-primary" %>
  <% end %>
</div>
