<div class="user-view container">
  <h1><%= current_user.first_name %>'s Account</h1>

    <div class="btn-group col-sm-12">
      <%= link_to "Edit Personal Info", edit_user_path(current_user), method: :get, class: "btn btn-success pull-right" %>
      <%= link_to "Update Your Address", addresses_path, method: :get, class: "btn btn-default pull-right" %><br><br>
    </div>

  <% if @orders.nil?  %>
    <p>You currently have no orders. We have a bunch of great stuff you can buy.
      <%= link_to "Check it out here!", vendors_path %></p>
  <% else %>
  <div class="col-sm-12">
    <% @orders.reverse.each do |order| %>
      <div class="user-orders"
      <p><strong><span class="order_id_title">Order ID: <%= order.id %></strong></span></br>
      <%= format_time(order.created_at) %></p>
      <% order.items.each do |item| %>
        <p><%= quantity_of_item(item, order) %>
        <%= link_to item.display_name, vendor_item_path(slug: item.vendor.slug, id: item.id) %>
        from <%= link_to item.vendor.name, vendor_items_path(slug: item.vendor.slug) %>:
        <%= number_to_currency(line_item_price(item, order)) %></p>
      <% end %>
      <p><strong>Total</strong>: <%= number_to_currency(order.total_price) %><br/>
      <strong>Status:</strong> <em><%= order.status %></em> as of <%= format_time(order.updated_at) %>
      </div>
      <% if order_completed_or_cancelled?(order) %></p><br/><br/>
      <% end %>
    <% end %>
  <% end %>
  </div>


</div>
