<div class="user-view">
  <h1>My Account</h1>
  <h3>Welcome <%= current_user.first_name %>!</h3>

  <% if @orders.nil?  %>
    <p>You currently have no orders. We have a bunch of great stuff you can buy.
      <%= link_to "Check it out here!", vendors_path %></p>
  <% else %>
    <% @orders.reverse.each do |order| %>
      <div class="user-orders"
      <p><strong><span class="order_id_title">Order ID: <%= order.id %></strong></span></br>
      <%= format_time(order.created_at) %></p>
      <% order.items.each do |item| %>
        <!-- Need to change this to link to the individual item eventually -->
        <p><%= quantity_of_item(item, order) %>
        <%= link_to item.display_name, vendor_item_path(slug: item.vendor.slug, id: item.id) %>
        from <%= link_to item.vendor.name, vendor_items_path(slug: item.vendor.slug) %>:
        <%= number_to_currency(line_item_price(item, order)) %></p>
      <% end %>
      <p><strong>Total</strong>: <%= number_to_currency(order.total_price) %><br/>
      <strong>Status:</strong> <em><%= order.status %></em> as of <%= format_time(order.updated_at) %>
      </div>
      <% if order_completed_or_cancelled?(order) %></p><br/><br/>
      <% end %>
    <% end %>
  <% end %>

  <%= link_to "Edit Personal Info", edit_user_path(current_user) %>
</div>
