<div class="main-vendor-items">
  <h2> Welcome to <%= @vendor.name %>'s Photo Gallery</h2>

  <% @items.each_slice(4) do |four_items| %>
    <div class="row">
      <% four_items.each do |item| %>
        <div class="col-sm-3 vendor-items">
          <p> <%= link_to image_tag(item.photo), vendor_item_path(slug: params[:slug], id:item.id),
                data: { target: "#modal" } %>  </p>
          <p><strong>  <%= link_to item.name, vendor_item_path(slug: params[:slug], id:item.id),
                data: { target: "#modal" } %> </strong></p>
          <% if item.status == "sold" %>
            <p> <%= item.status %> </p>
          <% else %>
            <% if item.price < 20 %>
              <p> <%= number_to_currency(item.price) %><span><em> --on sale now!</em></span> </p>
            <% else %>
              <p>  <%= number_to_currency(item.price) %></p>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
