<div class="main-vendor-items">
  <% if current_user && current_user.store_admin?(current_vendor) %>
    <%= render "vendors/items/admin_edits" %>
  <% end %>

  <div class="col-sm-12">
    <h2><%= @heading %></h2>
    <% @categories.each do |category| %>
      <div class="category-btn col-sm-2 btn btn-success" id="<%= category.name.parameterize %>"><%= category.display_name %></div>
    <% end %>
      <div class="category-btn col-sm-2 btn btn-default" id="show-all">All Categories</div>
  </div>

  <% @items.each_slice(4) do |four_items| %>
    <div class="row">
      <% four_items.each do |item| %>
        <div class="col-sm-3 vendor-items <%= item.categories.map(&:parameterized_name).join(" ") %>">
          <p> <%= link_to image_tag(item.photo), vendor_item_path(slug: params[:slug], id:item.id),
                data: { target: "#modal" } %>  </p>
          <p><strong>  <%= link_to item.name, vendor_item_path(slug: params[:slug], id:item.id),
                data: { target: "#modal" } %> </strong></p>
          <% if item.status == "sold" %>
            <p> <%= item.status %> </p>
          <% else %>
            <% if item.price < 20 %>
              <p> <%= number_to_currency(item.price) %><span><em> --on sale now!</em></span> </p>
            <% else %>
              <p>  <%= number_to_currency(item.price) %></p>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
