
<div class="main-vendor-items">
  <div class="col-sm-12">
    <% if current_user && current_vendor && current_user.store_admin?(current_vendor) %>
      <%= render "vendors/items/admin_edits" %>
    <% end %>
  </div>

  <h2><%= @heading %></h2><br>
  <h4><%= @description %></h4>

  <% if @categories.count > 0 %>
    <div class="col-sm-12 btn-group" id="btn-categories">
      <% @categories.each do |category| %>
        <div class="btn btn-default category-btn" id="<%= category.name.parameterize %>"><%= category.display_name %></div>
      <% end %>
      <div class="btn btn-default category-btn" id="show-all">All Categories</div>
    </div>
    <div class="row">
      <br>
    </div>
  <% end %>

  <% @items.each_slice(4) do |four_items| %>
    <div class="row" id="items-list">
      <% four_items.each do |item| %>
        <div class="col-sm-3 vendor-items <%= item.categories.map(&:parameterized_name).join(" ") %>">
          <p> <%= link_to image_tag(item.image), vendor_item_path(slug: item.vendor.slug, id:item.id), data: { target: "#modal" } %>  </p>
          <p><strong> <%= link_to item.name, vendor_item_path(slug: item.vendor.slug, id:item.id), data: { target: "#modal" } %> </strong></p>
          <% if item.status == "sold" %>
            <p> <%= item.status %> </p>
          <% else %>
            <% if item.price < 20 %>
              <p> <%= number_to_currency(item.price) %><span><em> --on sale now!</em></span> </p>
            <% else %>
              <p>  <%= number_to_currency(item.price) %></p>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
