<div class="main">
  <p><%= image_tag @item.photo %></p>
  <h4><%= @item.name %></h4>
  <p><strong> Description: </strong> <%= @item.description %></p>
  <p><strong> <%= "Category".pluralize(@item.categories.count) %>:</strong> <%= @item.category_list %></p>

  <% if @item.status == "sold" %>
    <p> <%= @item.status %> </p>
  <% else %>
    <p><strong> Price:  </strong> <%= number_to_currency(@item.price) %></p>

    <%= form_tag(cart_items_path) do %>
      <%= hidden_field_tag :item_id, @item.id %>
      <%= submit_tag "Buy", class: "btn btn-success btn-xs" %>
    <% end %>

  <% end %>
</div>




