<div class="main solo-item">
  <p><%= image_tag @item.photo %></p>
  <h4><%= @item.name %></h4>
  <p><strong> Description: </strong> <%= @item.description %></p>
  <p><strong> <%= "Category".pluralize(@item.categories.count) %>:</strong> <%= @item.category_list %></p>

  <% if @item.status == "sold" %>
    <p> <%= @item.status %> </p>
  <% else %>
    <p><strong> Price:  </strong> <%= number_to_currency(@item.price) %></p>

    <div class="btn btn-default">
      <%= form_tag(cart_items_path) do %>
        <%= hidden_field_tag :item_id, @item.id %>
        <%= submit_tag "Buy" %>
      <% end %>
    </div>
    <% if current_user %>
      <div class="btn btn-success glyphicon glyphicon-heart white">
        <%= link_to 'Favorite', "#", id: 'favorite', favorite_path: favorite_items_path,
        user_id: current_user.id, item_id: @item.id,
        remote: true %>
      </div>
    <% end %>

    <% if current_user && current_user.store_admin?(current_vendor) %>
    <p>
      <%= button_to "Edit Item", edit_vendor_item_path(slug: current_vendor.slug, id: @item.id),
                                                 method: :get, class: "btn btn-success" %></p>
    <% end %>

  <% end %>
</div>
