<div class="main solo-item">
  <p><%= image_tag(@item.image, size:"500") %></p>
  <h4><%= @item.name %></h4>
  <p><strong> Description: </strong> <%= @item.description %></p>
  <p><strong> <%= "Category".pluralize(@item.categories.count) %>: </strong> <%= @item.category_list %></p>

    <% if @item.status == "sold" %>
      <p> <%= @item.status %> </p>
    <% else %>
      <p><strong> Price:  </strong> <%= number_to_currency(@item.price) %></p>

      <div class="btn btn-default">
        <%= link_to 'Buy', cart_items_path(item_id: @item.id), id: 'buy', method: :post %>
      </div>

      <% if current_user && !current_user.has_this_favorite?(@item) %>

      <div class="btn btn-default">
        <%= link_to 'Favorite', favorites_path(item_id: @item.id), id: 'favorite',method: :post %>
      </div>
      <% end %>
    <% end %>

    <% if current_user && current_user.store_admin?(current_vendor) %>
    
        <p><%= button_to "Edit Item", edit_vendor_item_path(slug: current_vendor.slug, id: @item.id),
            method: :get, class: "btn btn-success" %></p>

 
    <% end %>
</div>
