<h1>Update Your Store</h1>

<div class="form" id="vendor-update">
  <%= form_for(current_vendor,role: "form") do |f| %>
    <p>
      <%= f.label :name %>:
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :description %>:
      <%= f.text_field :description %>
    </p>
    <p>
      <%= f.label :credit_card %>:
      <%= f.text_field :credit_card %>
    </p>
    <%= f.submit "Update My Store", class: 'btn btn-danger'%>
  <% end %>
</div>
