<h1>Update Your Store</h1>

<div class="form" id="vendor-update">
  <%= form_for(current_vendor, role: "form") do |f| %>
    <p>
      <%= f.label :name %>:
      <%= f.text_field :name, class: "form-control" %>
    </p>
    <p>
      <%= f.label :description %>:
      <%= f.text_field :description, class: "form-control"  %>
    </p>
    <p>
      <%= f.label :credit_card %>:
      <%= f.text_field :credit_card, class: "form-control"  %>
    </p>
    <%= f.submit "Update My Store", id: "update-submission", class: 'btn btn-danger'%>
  <% end %>
</div>
