  <div class="container" id="cart-page">

    <h1>Your Cart</h1>

    <% if @cart.total_price %>
    <% @cart.display_items.each do |item,quantity| %>
      <div class="col-sm-4" id="checkout-item">
        <%= image_tag item.image, class: "menu-image image-background"%><br/>

        <%= link_to item.display_name, vendor_item_path(slug: item.vendor.slug, id:item.id),
                  data: { target: "#modal" } %><br>

        Store: <%= link_to item.vendor.name, vendor_items_path(slug: item.vendor.slug) %><br>
        Quantity: <%= quantity %><br>
        Price Per Unit: <%= number_to_currency(item.price) %><br>
        Total For This Item: <%= number_to_currency(item.price * quantity) %></p>
        <div class="btn-group">
          <%= link_to cart_items_path(item_id: item.id), method: :post, class: "btn btn-default",
                                                         id: "up_button" do %>
          <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
          <% end %>
          <%= link_to cart_item_path(id: item.id), method: :patch, class: "btn btn-default",
                                                   id: "down_button" do %>
          <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
          <% end %>
        </div>
        <%= link_to "Remove All", cart_item_path(id: item.id), method: :delete, class: "btn btn-default" %>
      </div>
    <% end %>
    <div class="row">

    </div>

    <div class="col-xs-3" id="checkout-total">
      <p>Total Items: <%= @cart.count_total %></p>
      <p>Total Price: <%= number_to_currency(@cart.total_price) %></p>  </p>
      <% if signed_in? %>
        <%= button_to "Checkout", checkout_path, method: :post, class: "btn btn-default" %>
      <% else %>
        <button type='button', class="btn btn-default" data-target="#sign-in-modal" data-toggle="modal">
           Checkout
        </button>
      <% end %>
    </div>
    <% else %>
      <h4>Your cart is empty. We have a bunch of awesome pictures you can add to it.
        <%= link_to "Check them out here!", vendors_path %></h4>
    <% end %>

  </div>
