<!DOCTYPE html>
<html>
  <head>
    <title>The Pivot</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render 'layouts/navbar' %>

    <div class="row flash">
      <%= flash_messages %>
    </div>

    <%= yield %>

  <!-- Modal -->

  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"> close ×</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body">
            ...
        </div>
      </div>
    </div>
  </div>

  </body>
</html>
