<!DOCTYPE html>
<html>
  <head>
    <title>The Pivot</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render 'layouts/navbar' %>

    <div class="row flash">
      <%= flash_messages %>
      <%= render "partials/error_messages" %>
    </div>

    <%= yield %>

    <%= render 'layouts/modal_windows' %>
    <%= render 'layouts/modal_signin' %>

  </body>
</html>
